<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="dean" class="com.example.beans.Dean">
        <property name="name" value="${dean.name}"/>
        <property name="email" value="${dean.email}"/>
    </bean>

    <bean id="faculty" class="com.example.beans.Faculty">
        <property name="dean" ref="dean"/>
    </bean>

    <bean id="university" class="com.example.beans.University">
        <constructor-arg ref="faculty"/>
    </bean>

</beans>
